<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="uts-8">
        <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
        <title>IWA_CA2</title>
    <style>
        body {
            background:#4caf50
        }
    #main {
        padding:2rem;
        margin:2rem;
        background:#f9f9f9;
        box-shadow: 2px 2px 5px 9px rgba(0, 0, 0, 0.25);
    }
    </style>
    </head>
    <body>
        <div id="main">
            <h1>IWA_CA2</h1>
            <p>Example URL:</p>
            <ul>
                <li>Get all musics: <a href="/m1/musics">/m1/musics</a></li>
            </ul>
        </div>
        <div id="music-list" class="list"></div>
                <div id="music-list" class="list">
                <table id="musicTable" class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Music</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <br/>
            </div>
    </body>
</html>